body /* Wrapper + background */
{
    width:900px;
    margin:0 auto;
    background-image: url(background.jpg);
}

h1
{
    text-align:center;
}

nav   /*invisible until litle window*/
{
    display:none;
}

section
{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

div    /*table+title*/
{
    width:32%;
    min-width:250px;
    margin:1% auto;
}

dl
{
    text-align:left;
}

h2
{
    text-align:left;
}

div, h2, dl
	 {
	     display:inline-block;
	     vertical-align:top;
	 }
dd     /*vim command*/
{
    background-color:silver;
}

h1
{
    margin-top:0;
}

html
{
    background-color:white;
}

header
{
    color: white;
    background-image: url(background2.png);
}

@media all and (max-width: 900px)
{
    body
    {
	width:100%;
    }
}
